@use 'variables' as *;

// Responsive breakpoints
$breakpoints: (
  "medium": 48rem,
  "large": 62rem,
  "xlarge": 75rem,
  "xxlarge": 87.5rem,
);

@mixin responsive-size($size) {
  $breakpoint-size: map-get($breakpoints, $size);

  @media (min-width: $breakpoint-size) {
    @content;
  }
}

// Logo
@mixin logo {
  width: 16rem;
  // height: 4rem;

  @include responsive-size(large) {
    width: 19rem;
  }

  img {
    width: 100%;
  }
}

// Navigation links
@mixin links {
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
    background-color: $white;
    transition: all 0.2s ease-in-out;
  }

  &:hover::after {
    width: 50%;
  }
}
